body {
    background-image: url("buscacep.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#cep-result {
    margin-top: 20px;
    text-align: left;
}

#cep-result h3 {
    margin-top: 10px;
}

#cep-result p {
    margin: 0;
}